/* css universal do body */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;  
}
/* Css da página preview, a página que aparece antes de entrar de fato no site */
.body_preview{

    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-preview{
   width: 500px;
   height: 500px;
   position: absolute;
   top: 15%;
   left: 33%; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo_escrito{
    margin-top: -50px;
    width: 500px;
}
.botao_preview{
    margin-left: 25%;
}


/* fim do css da página preview */

/* Css da página Index, a página home do site */
.body_index{
    background-color: #55aaaa;
    width: 100%;
    height: 100%;
}

.conatiner_barra{
    position: relative;

}

.barra_tarefa{
    position: absolute;
    bottom: 0;
}

.iconP{
    margin-top: 5px;
    margin-left: 10px;
}

.iconR{
    margin-top: 50px;
    
}

.iconC{
    margin-top: 50px;
}

.iconIE{
    margin-left: 15px;
    margin-top: 50px;
}

.iconN{
    margin-left: 120px;
    margin-top: -200px;
    margin-bottom: 30px;
}
/* fim do css da página Index */

/* Css da página arte, a página que expões pixel art's */

.container_arte{
    position: relative;
}

.arte{
  
}

/* fim do css da página arte */